<!DOCTYPE html>
<html lang="en">
    <head prefix="og: http://ogp.me/ns#">
        <meta charset="utf-8">
        <title>{{title}}</title>
        <meta property="og:type" content="website">
        <meta property="og:title" content="{{title}}">
        <meta property="og:description" content="{{description}}">

        {{#if environment.devel}}
            <link rel="stylesheet" href="css/style.css">
        {{else}}
            <link rel="stylesheet" href="css/style.min.css">
        {{/if}}
    </head>
    <body>
        <!--[if lt IE 10]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different
        browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
        {{> body }}

        {{#if environment.devel}}
            <script src="bower/jquery/dist/jquery.js"></script>
            <script src="bower/magic-eye/magiceye.js"></script>
            <script src="bower/magic-eye/depthmappers/TextDepthMapper.js"></script>
            <script src="bower/magic-eye/depthmappers/TemplateDepthMapper.js"></script>
            <script src="bower/magic-eye/depthmappers/ImgDepthMapper.js"></script>
            <script src="bower/magic-eye/depthmappers/CanvasDepthMapper.js"></script>
            <script src="js/app-compiled.js"></script>
        {{else}}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
            <script src="bower/jquery/dist/jquery.js"></script>
            <script src="bower/magic-eye/magiceye.js"></script>
            <script src="bower/magic-eye/depthmappers/TextDepthMapper.js"></script>
            <script src="bower/magic-eye/depthmappers/TemplateDepthMapper.js"></script>
            <script src="bower/magic-eye/depthmappers/ImgDepthMapper.js"></script>
            <script src="bower/magic-eye/depthmappers/CanvasDepthMapper.js"></script>
            <script src="js/app-compiled.min.js"></script>
        {{/if}}
        <script>
            var config = {};
            app.init(config);
        </script>
        {{#if environment.devel}}
            <script type='text/javascript' id="__bs_script__">//<![CDATA[
                document.write("<script async src='//HOST:3000/browser-sync/browser-sync-client.1.8.0.js'><\/script>".replace(/HOST/g, location.hostname).replace(/PORT/g, location.port));
            //]]></script>
        {{/if}}
    </body>
</html>
